@layer utilities {

    .sidebar-sm {
        width: 22.25rem;
    }

    .sidebar-lg {
        width: 37.5rem;
    }
}



@layer utilities {
    .custom-scroll::-webkit-scrollbar {
        width: 6px;
    }

    .custom-scroll::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 9999px;
        transition: background 0.3s, opacity 0.3s;
        opacity: 0;
    }

    /* ONLY controlled by JS */
    .custom-scroll.scrolling::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        opacity: 1;
    }
}